flows.json
[
    {
        "id": "7f2efefbbceb30df",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d6ccf41005253901",
        "type": "server",
        "name": "Home Assistant",
        "version": 1,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "b2df05c02f31618e",
        "type": "api-current-state",
        "z": "7f2efefbbceb30df",
        "name": "Office Room Motion Senor",
        "server": "d6ccf41005253901",
        "version": 2,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.officemotionsensor_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "cd01e98dbea65d6b"
            ]
        ]
    },
    {
        "id": "cd01e98dbea65d6b",
        "type": "switch",
        "z": "7f2efefbbceb30df",
        "name": "On - Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "ce9168d01657b0b0"
            ],
            [
                "395913ebd2db9726"
            ]
        ]
    },
    {
        "id": "ce9168d01657b0b0",
        "type": "api-call-service",
        "z": "7f2efefbbceb30df",
        "name": "Office Lights On",
        "server": "d6ccf41005253901",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.office_ceiling_lights",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 670,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "395913ebd2db9726",
        "type": "trigger",
        "z": "7f2efefbbceb30df",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "60",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "4a8e25e8d56c49b4"
            ]
        ]
    },
    {
        "id": "4a8e25e8d56c49b4",
        "type": "api-call-service",
        "z": "7f2efefbbceb30df",
        "name": "Office Lights Off",
        "server": "d6ccf41005253901",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.office_ceiling_lights",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 890,
        "y": 300,
        "wires": [
            []
        ]
    }
]